.multi_textarea {
  display: flex;
  flex-direction: column;
  position: relative;
}

.multi_textarea textarea {
  flex: 1;
}
.multi_textarea textarea + textarea {
  margin-top: 0.25rem;
}

.menuInput {
  padding: 6px 10px;
  font-size: 12px;
  line-height: 1;
  color: var(--color);
  transition: all 0.2s ease-in;
  border-radius: 3px;
  margin-inline-end: 5px;
}

.menuInput label {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.menuInput label span {
  margin-inline-start: 4px;
}

.menuInput input {
  accent-color: var(--app-color);
}

.actBtn {
  height: 42px;
  padding: 16px 24px;
  border: none;
  background: var(--app-color);
  color: #fff;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 8px;
  margin: 0 5px 4px;
}
