.menuInput {
  padding: 6px 10px;
  font-size: 12px;
  line-height: 1;
  color: var(--color);
  transition: all 0.2s ease-in;
  border-radius: 3px;
  margin-inline-end: 5px;
}

.menuInput label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menuInput label span {
  margin-inline-start: 4px;
}

.menuInput input {
  accent-color: var(--app-color);
}

.modal_content {
  min-height: 130px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(25, 25, 25, 0.25);
  /* border: 1px solid var(--line-color); */
}

.modal_body {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.modal_body h4 {
  font-weight: 600;
  color: var(--color);
  margin: 10px 0;
}

.form_body {
  display: flex;
  gap: 4px;
}

.form_body input {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--line-color);
  border-radius: 4px;
}
.form_body input:focus {
  outline: none;
}

.form_body button {
  padding: 10px 20px;
  color: #fff;
  line-height: 1;
  background-color: var(--app-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form_body button:disabled {
  pointer-events: none;
  opacity: 0.5;
}
