.modal_ui {
  position: fixed;
  inset: 0;
  z-index: 99;
  background-color: rgba(25, 25, 25, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_wrapper {
  width: 100%;
  max-width: 580px;
  margin-inline: 10px;
}

.modal_content {
  height: 480px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(25, 25, 25, 0.25);
  /* border: 1px solid var(--line-color); */
}

.modal_header {
  border-bottom: 1px solid var(--line-color);
  padding: 5px 10px 0;
  background-color: var(--light-gray-color);
  position: relative;
}

.modal_header button {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 6px;
  top: 6px;
  line-height: 1;
  font-size: 20px;
  color: var(--color);
  background-color: #eee;
}

.modal_title {
  padding: 8px 0;
}

.modal_body {
  padding: 10px;
}

.modal_body p {
  font-size: 12px;
  margin-bottom: 5px;
}

.modal_body p strong {
  font-weight: 700;
  color: #333;
}

.modal_body p a {
  color: var(--app-color);
  text-decoration: none;
}

.modal_body p img {
  width: 100%;
  object-fit: contain;
  height: 100px;
  margin: 20px 0;
}

.modal_body pre {
  white-space: pre-wrap;
  font-family: var(--mono-font);
  font-size: 12px;
  border: 1px solid var(--line-color);
  padding: 5px;
  border-radius: 3px;
}

.menuInput {
  padding: 6px 10px;
  font-size: 12px;
  line-height: 1;
  color: var(--color);
  transition: all 0.2s ease-in;
  border-radius: 3px;
  margin-inline-end: 5px;
}

.menuInput label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menuInput label span {
  margin-inline-start: 4px;
}

.menuInput input {
  accent-color: var(--app-color);
}
