.modal_ui {
  position: fixed;
  inset: 0;
  z-index: 99;
  background-color: rgba(5, 5, 5, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_wrapper {
  width: 100%;
  max-width: 580px;
  margin-inline: 10px;
}

.modal_content {
  min-height: 480px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(25, 25, 25, 0.5);
  /* border: 1px solid var(--line-color); */
  overflow: hidden;
}

.modal_header {
  border-bottom: 1px solid var(--line-color);
  padding: 5px 10px 0;
  background-color: #eee;
  position: relative;
}

.modal_header button {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 6px;
  top: 6px;
  line-height: 1;
  font-size: 20px;
  color: #444;
  background-color: #ccc;
}

.modal_title {
  padding: 8px 0;
  color: #555;
}

.modal_body {
  padding: 10px;
}

.modal_body p {
  font-size: 12px;
  margin-bottom: 5px;
}

.modal_body p strong {
  font-weight: 700;
  color: #333;
}

.modal_body p a {
  color: var(--app-color);
  text-decoration: none;
}

.modal_body p img {
  width: 100%;
  object-fit: contain;
  height: 100px;
  margin: 20px 0;
}

.modal_body pre {
  white-space: pre-wrap;
  font-family: var(--mono-font);
  font-size: 12px;
  border: 1px solid var(--line-color);
  padding: 5px;
  border-radius: 3px;
}

.sidebar {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgb(39, 40, 34);
}

.sidebar h3 {
  font-weight: 600;
  padding: 1rem;
  color: #555;
  font-family: var(--mono-font);
  font-size: 20px;
}

.menuList {
  flex: 1;
  overflow-y: auto;
}

.menuList li {
  background-color: transparent;
  padding: 0.75rem 1rem;
  line-height: 1;
  border-radius: 0 5px 5px 0;
  margin-inline-end: 10px;
  margin-block: 0.25rem;
  color: #555;
  font-size: 14px;
  transition: all 0.2s ease-in;
  /* border: 1px solid var(--line-color); */
  border-inline-start: 0;
  cursor: pointer;
  opacity: 0.85;
}

.menuList li:hover {
  background-color: var(--app-color-tint);
  /* border-color: var(--app-color-light); */
  color: var(--app-color);
  opacity: 1;
}

.selected {
  border-color: var(--app-color) !important;
  background-color: var(--app-color) !important;
  color: #fff !important;
  opacity: 1 !important;
}
