:root {
  --header-height: 36px;
  --toolbox-height: 40px;
  --color: #666;
  --color-dark: #222;
  --line-color: #ccc;
  --app-color: #1f6683;
  --app-color-light: #2a7491;
  --app-color-tint: #c3dfeb;
  --gray-color: #f6f6f6;
  --light-gray-color: #fafafa;
  --serif-font: 'Open Sans', sans-serif;
  --mono-font: 'Anonymous Pro', monospace;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: var(--serif-font);
}

pre {
  font-family: var(--mono-font);
}

.app {
  height: 100vh;
  overflow: hidden;
}

header {
  padding: 0 4px;
  height: var(--header-height);
  display: flex;
  align-items: flex-end;
  background-color: var(--app-color-light);
  border-bottom: 1px solid var(--app-color-light);
}

.tabs {
  display: flex;
  margin-bottom: -1px;
  z-index: 1;
}

.tab {
  padding: 9px 20px;
  font-size: 12px;
  border: 1px solid var(--line-color);
  cursor: pointer;
  border-radius: 4px 4px 0 0;
  line-height: 1;
  color: #333;
  opacity: 0.85;
  background-color: var(--app-color-tint);
  text-align: center;
}

.tab:hover {
  opacity: 1;
}

.tab.active {
  color: var(--app-color);
  border-bottom-color: #fff;
  background-color: #fff;
  opacity: 1;
}

.tab + .tab {
  margin-inline-start: 3px;
}

section {
  display: grid;
  height: calc(100vh - var(--header-height));
  grid-template-rows: var(--toolbox-height) 1fr;
}

.toolbox {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-top: 1px solid var(--gray-color);
  margin-top: 3px;
  padding: 0 5px;
  overflow-x: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.menus {
  display: flex;
  height: 100%;
  align-items: center;
}

.menu {
  padding: 6px 10px;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1;
  color: var(--color);
  cursor: pointer;
  transition: all 0.2s ease-in;
  border-radius: 3px;
  white-space: nowrap;
}

.tab.disabled,
.menu.disabled {
  pointer-events: none;
  opacity: 0.3;
}

.menu:hover {
  color: var(--color-dark);
  background-color: var(--light-gray-color);
}

.divider {
  background-color: var(--line-color);
  width: 1px;
  height: 16px;
  margin: 0 5px;
}

.wrapper {
  margin: 0 4px 4px;
  border-radius: 10px;
  border: 1px solid var(--line-color);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  padding: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.wrapper.dark {
  background-color: rgb(11, 43, 54);
}

textarea {
  margin: 0 4px 4px;
  border-radius: 10px;
  resize: none;
  border: 1px solid var(--line-color);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in;
  background-color: var(--gray-color);
  font-family: var(--mono-font);
  padding: 10px;
  font-weight: 500;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

textarea:focus {
  box-shadow: inset 0 0 5px rgba(63, 140, 255, 0.35);
  border-color: #3f8cff;
  outline: none;
}

textarea[readonly] {
  box-shadow: none;
}

textarea[readonly]:focus {
  box-shadow: none;
  border-color: var(--line-color);
}

textarea.invalid {
  border: 1px solid #f3b2b2;
  box-shadow: inset 0 0 3px rgb(255 129 0 / 45%);
}

.toolbox::-webkit-scrollbar,
.wrapper::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}
